<aside id="left-menu">
  <ul>

    <li class="menu-item"><i class="fa fa-home iconClass"><a href="/index"> Home</a></i></li>
    <li class="menu-item"><i class="fa fa-cubes iconClass"><a href="/categories"> Categories</a></i></li>
    <li class="menu-item"><i class="fa fa-bitbucket-square iconClass"><a href="#"> Store</a></i></li>
    <li class="menu-item"><i class="fa fa-adn iconClass"><a href="/about"> About</a></i></li>
    <li class="menu-item"><i class="fa fa-address-book iconClass"><a href="/contact"> Contact Us</a></i></li>
  </ul>


  <br /> <br />

  <div>
    <h3>Newsletter</h3>
    <form id="news">
      Name:<input type="text" id="name" name="name"> Email:
      <input type="email" id="email" name="email"> <input type="submit" value="Send"> <a href="#">Clear</a>
    </form>

  </div>
</aside>
