<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Swapzy: Online Game Exchange</title>
	<link rel="stylesheet" href="/resources/style.css" type="text/css" />
	<link rel="stylesheet"
		  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="shortcut icon" href="/resources/myIcon.ico" />
</head>

<body>
<div id="container">

	<!-- Partials -->
	<!-- Header -->
	<% include partials/header.ejs %>

	<!-- Main Menu -->
	<% include partials/user-navigation.ejs %>

	<!-- Left Menu -->
	<% include partials/site-navigation.ejs %>

	<!--content-->
	<main>

		<section>
			<article id="articlePad">

				<a href="/index">Home</a> > <a href="/about">About Us</a>

				<div class="div_about">
					<img src="/resources/whoarewe2.png" alt="who" />
					<div class="div-block">Who are we?</div>
				</div>

				<h2>We are Swapzy...</h2>
				<p>
					By gamers for gamers!<br />
					<br /> We aim to provide the best game trading experience on the
					Web. Welcome to game trading without limits. With no fees to buy,
					sell, or trade, coupled with a rich platform and a built in
					reputation system, the community is home to thousands of active
					users. Many of our members have exceptional experience in online
					transactions with over 300,000 total completed successfully in our
					over 20 years of operation. <br />
					<br /> Play more, spend less!!!
				</p>

			</article>
		</section>
	</main>

	<div id="clearDiv"></div>

	<!-- Footer -->
	<% include partials/footer.ejs %>

</div>
</body>
</html>
