<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Swapzy: Online Game Exchange</title>
	<link rel="stylesheet" href="/resources/style.css" type="text/css" />
	<link rel="stylesheet"	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="shortcut icon" href="/resources/myIcon.ico" />
</head>

<body>
<div id="container">

	<!-- Partials -->
	<!-- Header -->
	<% include partials/header.ejs %>

	<!-- Main Menu -->
	<% include partials/user-navigation.ejs %>

	<!-- Left Menu -->
	<% include partials/site-navigation.ejs %>

	<!--content-->
	<main>
		<section class="section_0">
			<article>
				<div class="slider">
					<figure>
						<span>Welcome to Swapzy!</span>
					</figure>
					<figure>
						<span>Welcome to Swapzy!</span>
					</figure>
					<figure>
						<span>Welcome to Swapzy!</span>
					</figure>
					<figure>
						<span>Welcome to Swapzy!</span>
					</figure>
					<figure>
						<span>Welcome to Swapzy!</span>
					</figure>
				</div>
			</article>
		</section>

		<section class="section_1">
			<article>

				<a href="/index">Home</a>

				<img src="/resources/banner.png" alt="banner" />
				<h3>Why choose Swapzy?</h3>
				<p>
					The best way to trade your Games with other Gamers!!!
					<br /> On Swapzy, gamers trade directly with other gamers. <br />
					<br /> FREE TRADING: There are no subscription or listing fees. You
					pay only for shipping.<br />
					<br /> TRADE WITH GAMERS: Don't trade in to a faceless corporation.
					Trade your games with other gamers just like you.<br />
					<br />
					Play more, spend less!!!
				</p>

			</article>
		</section>
	</main>

	<div id="clearDiv"></div>

	<!-- Footer -->
	<% include partials/footer.ejs %>

</div>
</body>
</html>
